
/****************************************************************************/
/*                                                                          */
/* Body Related Classes                                                     */
/*                                                                          */
/****************************************************************************/

/* Class for the body section containing text
 *	~set size of container
 *	~set margins nicely */
.content_div {
	width: 50%;
	height: 300px;
	margin-top: 80px;
	margin-left: 4%;
	padding-right: 20px;
	position: relative;
}

/* Class for the body section containing the sidebar
 *      ~set size of container 
 *      ~set margins of container */
.frame {
	width: 50%;
	height: 465px;
	left: -30px;
	position: relative;
}

/* Fix the slim class for horizontal rules
 *	~change width and positioning */
.slim {
	width: 100%;
	margin-left: 20px;
}


/****************************************************************************/
