
/****************************************************************************/
/*                                                                          */
/* Core Div Classes                                                         */
/*                                                                          */
/****************************************************************************/

/* Class for page headerdiv
 * 	~set color
 *      ~sets size for standard header container
 *      ~gives it a little top cushion */
.top_div {
        background-color: var(--limited);
        width: 800px;
        height: 100px;
        margin-top: 4%;
}

/* Class for page body_div
 *      ~sets size for standard body container
 *      ~gives it a little top and bottom cushion
 *      ~enables chile elements to be positioned side by side */
.middle_div {
        background-color: var(--overdose);
        width: 800px;
        height: 330px;
	display: flex;
}

/* Class for page footer_div
 *      ~sets size for standard footer container
 *      ~gives it a little bottom cushion */
.bottom_div {
        background-color: var(--limited);
        width: 800px;
        height: 90px;
}

/****************************************************************************/
/*                                                                          */
/* Header Related Classes                                                   */
/*                                                                          */
/****************************************************************************/

/* Reformatting header 2
 *	~fixing the color
 *	~fixing the font size */
h2 {
	color: var(--overdose);
	font-size: 32;
}

/* Reformatting menu
 *	~fixing the spacing
 *	~adding cool borders */
.menu {
	margin-top: 35px;
	padding: 0px 20px;
	border-color: var(--overdose);
	border-style: none solid;
	border-width: 2px;
}

/* Reformatting leftmost
 *	~fixing the margins
 *	~fixing the border so that it's only on one side */
.leftmost {
	margin-left: 0px;
	border-style: none solid none none;
}

/* Reformatting leftmost
 *	~fixing the border so that it's only on one side */
.rightmost {
	border-style: none none none solid;
}


/****************************************************************************/
/*                                                                          */
/* Body Related Classes                                                     */
/*                                                                          */
/****************************************************************************/

/* Class for picture of me
 *	~set correct size
 *	~move it a bit to the left */
.me {
	width: 310px;
	height: 330px;
	padding-left: 20px;
}

/* Class for the words container
 *	~set size
 *	~center text */
.words {
	width: 460px;
	text-align: center;
}

/* Class for the big title
 *	~set the font size */
.big_title {
	font-size: 58;
}

/* Class for the subititles
 *	~set the font size
 *	~set the margins */
.subtitle {
	font-size: 32;
	margin: 0px;
	margin-top: 5px;
}

/* Class which mimics a newline for the subtitles
 *	~sets margins */
.newline {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Reformatting slim
 *	~make it slimmer
 *	~fix the margins */
.slim {
	width: 80%;
	margin-bottom: 10px;
}


/****************************************************************************/
/*                                                                          */
/* Footer Related Classes                                                   */
/*                                                                          */
/****************************************************************************/

/* Reformat footer text class
 *	~fix the color
 *	~fix the positioning
 *	~fix the font size and alignment
 *	~make it side-by-sideable */
.footer_text {
	color: var(--overdose);
	padding-top: 20px;
	padding-left: 190px;
	font-size: 20;
	text-align: center;
	display: inline-block;
}

/* Reformat links
 *	~fix color
 *	~remove underline */
a {
	color: var(--overdose);
	box-shadow: none;
}

/* Class for butterfly silhouette
 *	~set size
 *	~set padding accordingly
 *	~make it side-by-sideable */
.butterfly {
        width: 50px;
        height: 50px;
        padding-top: 20px;
        padding-right: 30px;
	float: right;
	display: inline-block;
}


/****************************************************************************/
