
/*****************************************/
/* Stylesheet for my UML Website	 */
/*****************************************/

body {
	background-color: #EED1C1;
}

.the_big_one {
	display: block;
	margin: 0 auto;
	width: 800px;
	height: 520px;
	margin-top: 4%;
}

.homepage {
	width: 100%;
	height: 100%;
}

.logo {
	border-radius: 5px;
	width: 46px;
	height: 42px;
	position: absolute;
	margin-top: -70px;
}

span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.github {
	margin-left: 525px;
}

.linkedin {
	margin-left: 590px;
}

.facebook {
	margin-left: 653px;
}

.pinterest {
	margin-left: 716px;
}

.menu {
	height: 40px;
	position: absolute;
	margin-top: -490px;
	background-color: transparent;
	border: none;
}

.home {
	width: 150px;
}

.about_me {
	width: 195px;
	margin-left: 165px;
}

.my_work {
	width: 190px;
	margin-left: 375px;
}

.contact_me {
	width: 220px;
	margin-left: 580px;
}
