
/*****************************************/
/* Stylesheet for my UML Website	 */
/* Global Stylesheet                     */
/*****************************************/

/* Reformats spans
 *      ~used for links
 *      ~designed to fill div containing link */
span {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1;
}

/* Reformates images
 *	~makes all images fill their containers */
img {
	width: 100%;
	height: 100%;
}

/* Reformats text
 *	~makes everything times new roman font */
p {
	font-family: Times New Roman, serif;
}

/* Horizontal centering style
 *	~centers item horizontally within container */
.centered {
	margin: 0 auto;
	display: block;
}
