
/*****************************************/
/* Stylesheet for my UML Website	 */
/* Homepage Stylesheet                   */
/*****************************************/

/* Reformats body of page
 *	~peachy background color */
body {
	background-color: #EED1C1;
}

/* Class for div for homepage image
 *	~sizes it
 *	~centers it */
.the_big_one {
	display: block;
	width: 800px;
	height: 520px;
	margin: 0 auto;
	margin-top: 4%;
}

/* Class for menu items at top of image
 *	~sets size of image
 *	~sets invisibility to max */
.menu {
	position: absolute;
	height: 40px;
	margin-top: -490px;
	background-color: transparent;
	border: none;
}

/* Class for home menu item
 *	~matches position of home menu item */
.home {
	width: 150px;
}

/* Class for about me menu item
 *	~matches position of about me menu item */
.about_me {
	width: 195px;
	margin-left: 165px;
}

/* Class for my work menu item
 *	~matches position of my work menu item */
.my_work {
	width: 190px;
	margin-left: 375px;
}

/* Class for contact me menu item
 *	~matches position of contact me menu item */
.contact_me {
	width: 220px;
	margin-left: 580px;
}

/* Class for bottom logos
 *	~matches size of image
 *	~matches height of image on page */
.logo {
	position: absolute;
	width: 46px;
	height: 42px;
	border-radius: 5px;
	margin-top: -70px;
}

/* Class for github logo
 *	~matches position of github logo */
.github {
	margin-left: 525px;
}

/* Class for linkedin logo
 *	~matches position of linkedin logo */
.linkedin {
	margin-left: 590px;
}

/* Class for facebook logo
 *	~matches position of facebook logo */
.facebook {
	margin-left: 653px;
}

/* Class for pinterest logo
 *	~matches position of pinterest logo */
.pinterest {
	margin-left: 716px;
}
