
/*****************************************/
/* Stylesheet for my UML Website	 */
/* About Me Stylesheet                   */
/*****************************************/

/* Reformats spans
 *	~designed for link
 *	~fills div containing link */
span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

/* Class for resumeobject
 *	~makes it fill the page */
.resume {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Class for resume object
 *	~allows room for header strip */
.r_object {
	height: 88.9%;
	margin-top: 74px;
}

/* Class for header strip
 *	~sets size relative to page
 *	~sets position relative to page
 *	~gives it a nice subtle drop shadow
 *	~has a lovely color */
.pdf_header {
	position: fixed;
	width: 102%;
	height: 80px;
	margin-left: -1%;
	margin-top: -1%;
	background-color: #310804;
	box-shadow: 0px 2px 10px black;
	z-index: 1;
}

/* Class for title of page
 *	~sets position of title
 *	~sets size of title
 *	~sets font and color of title */
.title {
	position: absolute;
	margin-top: 20px;
	margin-left: 180px;
	color: #EEF0ED;
	font-size: 36px;
	font-family: Times New Roman, serif;
	z-index: 2;
}

/* Class for div containing custom arrow button
 *	~positions div
 *	~sets size of div */
.arrow_div {
	position: absolute;
	width: 150px;
	height: 50px;
	margin-top: 18px;
	margin-left: 20px;
	z-index: 1;
}

/* Class for custom arrow image
 *	~makes image fill div containing it */
.arrow {
	width: 100%;
	height: 100%;
}

/* Class for group of logos image
 *	~sets position of image
 *	~sets size of image */
.logo_group {
	position: absolute;
	width: 250px;
	height: 65px;
	margin-top: 12px;
	margin-left: 78%;
	z-index: 2;
}

/* Class for logo div
 *	~sets size of div
 *	~sets height of div on page */
.logo {
	position: absolute;
	width: 43px;
	height: 43px;
	margin-top: 1.6%;
	z-index: 10;
}

/* Class for github logo
 *	~matches position of github logo on page */
.github {
	margin-left: 78.85%;
}

/* Class for linkedin logo
 *	~matches position of linkedin logo on page */
.linkedin {
	margin-left: 82.95%;
}

/* Class for facebook logo
 *	~matches position of facebook logo on page
 *	~fine tunes size */
.facebook {
	width: 44px;
	margin-left: 87.42%;
}

/* Class for pinterest logo
 *	~matches position of pinterest logo on page */
.pinterest {
	margin-left: 91.9%;
}
